@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }



* {
  -webkit-transition: all 0.2s linear; }

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px gray; 
  background-color: rgba(233, 76, 33, 0.7);
}

div {
  background: #cccccc;
  padding: inherit; }

p {
  padding: 10px;
  margin: 0; }

h1 {
  position: relative;
  top: 0;
  font-family: 'Sigmar One', cursive;
  font-size: 72px;
  font-weight: 100;
  line-height: 1;
  margin: 10px; }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    h1 {
      font-size: 50px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
      margin-bottom: 10px;
      font-size: 40px; } }

h2 {
  position: relative;
  top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: 100;
  line-height: 1;
  margin: 10px; }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    h2 {
      font-size: 50px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    h3 {
      margin-bottom: 10px;
      font-size: 40px; } }


.context {
  background: gray;
    color: white;
  margin: 0; }

#profile-pic {
    margin-left: 50px;
    height: 240px;
    background: url(../images/c_n_seshadri.jpg) no-repeat;
}

#content-block, #profile-details {
  background: rgb(255, 251, 234);
  border-bottom: 2px solid rgb(210, 202, 167); }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    #content-block {
      margin-bottom: 10px; } }
  #content-block p {
    margin-top: 10px; }

#container {
  background: #e6e6e6;
  height: inherit;
  opacity: 0.8;
  padding: 10px;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  #container .row {
    margin-bottom: 10px;
    *zoom: 1;
    display: block; }
    #container .row:before, #container .row:after {
      content: " ";
      display: table; }
    #container .row:after {
      clear: both; }
  #container #header ul {
    margin: 0;
    padding: 0; }
    #container #header ul li {
      background: #b3b3b3;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 14.70196%;
      /*@include omega(6n); */ }
      #container #header ul li:last-child {
        margin-right: 0; }
      #container #header ul li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 10px; }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          #container #header ul li a {
            font-size: 90%; } }
  #container #profile img {
    width: 100%; }
  #container #profile {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 27%; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      #container #profile {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
    }
  #container #profile-details {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 67%; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      #container #profile-details {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }        
    }
#container #about #content-block, #container #footer #content-block{
    font-size: 90%;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #container #about #content-block:last-child, #container #footer #content-block:last-child {
      margin-right: 0; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      #container #about #content-block, #container #footer #content-block {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%; }
        #container #about #content-block:last-child, #container #footer #content-block:last-child {
          margin-right: 0; } }
  #container #main #content-block {
    font-size: 80%;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.75%; }
    #container #main #content-block:last-child {
      margin-right: 0; }
    @media screen and (min-width: 480px) and (max-width: 800px) {
      #container #main #content-block {
        margin-bottom: 10px;
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        #container #main #content-block:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      #container #main #content-block {
        display: block;
        float: left;
        margin-right: 4.82916%;
        width: 100%; }
        #container #main #content-block:last-child {
          margin-right: 0; } }
  #container #footer ul {
    padding: 0 20px; }
    #container #footer ul li {
      text-align: left; }
